body{
    margin: 0;
    display: grid;
    grid-template-areas:
     "menu"
     "messages"
     "open-message";
}
menu{
    display: grid;
    margin: 0;
    height: 20px;
    background-color: aqua;
}
messages{
    
    display: grid;
    grid-auto-rows: 50px;
    background-color: blueviolet;
    height: 1fr;
}
open-message{
    height: 300px;
    background-color: cornflowerblue;
    align-self: end;
}
menu:hover{
    height: 200px;
}
menu div{
    justify-self: end;
}
menu:hover div{
    justify-self: center;
}

