@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --default-color: #fff;
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --alpha: rgba(0,0,0,0.1);
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Nav */
.nav {
  background-color: #0F082E;
  display: grid;
  grid-template-rows: 40%;
  grid-template-columns: 10% auto 20%;
  grid-template-areas: 
  "Logo Space NavButtons";
}
.logo{
  padding: 0;
  margin: 0;
  grid-area: Logo;
}
.space{
  grid-area: Space;
}
.navButtons{
  display: flex;
  grid-area: NavButtons;
  justify-self: end;
  align-items: start;
  font-size: 200%;
  padding-top: 15%;
  padding-right: 40px;
}


.nav a {
  color: var(--primary-color);
  padding: 10px;
  margin: 0 5px;
}

.nav a:hover {
  border-bottom: 2px var(--primary-color) solid;
}
/* Welcome */
.welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("/Website Project/Images/pc1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vw;
}
.welcomeMessage h1{
  font-size: 100px;
  color: var(--primary-color);
}

/* Mission */
.mission{
  margin: 20px;
  display: grid;
  grid-template: 30% auto/repeat(3, 1fr);
  grid-template-areas: 
  "missionText missionText missionText"
  "mission1 mission2 mission3";
  grid-gap: 10% 3%;
}
.mission div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mission div p{
  grid-template: 1fr/1fr;
  font-size: 20px;
  padding: 5px;
}
.missionText{
  grid-area: missionText;
}
.mission1{
  grid-area: mission1;
  background-color: var(--alpha);
}
.mission2{
  grid-area: mission2;
  background-color: var(--alpha);
}
.mission3{
  grid-area: mission3;
  background-color: var(--alpha);
}

/* Team */
.team{
  display: grid;
  margin-top: 100px;
  grid-template-columns: 60vw 40vw;
}
.teamImage{
  width: 80%;
  justify-self: center;
  align-items: center;
}
.teamMessage{
  display: flex;
  justify-content: start;
  align-items: center;
}
.teamMessage p{
  font-size: 50px;
}

/* Projects */
.project{
  display: grid;
  margin-top: 0px;
  padding: 0px;
  grid-template-columns: 60vw 40vw;
}
.projectMessage{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 30px;
}
.projectImage{
  width: 80%;
  justify-self: center;
  align-items: center;
}

/* Footer */
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  background-color: #0F082E;
}
.footer ul {
  display: flex;
  margin: 0 10px;
  color: var(--primary-color);
}
.footer ul li{
  padding-left: 10px;
}
.footer ul li a{
  color: var(--primary-color);
  font-size: 30px;
}
/* Mobile Horizontal/Tablets */
@media (max-width: 768px) {
  .navButtons{
    padding-right: 0px;
    font-size: 150%;
  }
  .welcomeMessage h1{
    font-size: 40px;
  }
  .mission{
    margin: 20px;
    display: grid;
    grid-template: 10% auto/repeat(3, 1fr);
    grid-template-areas: 
  "missionText missionText missionText"
  "mission1 mission2 mission3";
    grid-gap: 10% 3%;
  }
  .team{
    margin-top: 50px;
  }
  .teamMessage p{
    font-size: 40px;
  }
  .project{
    display: grid;
    grid-template-columns: 100vw;
  }
  .projectMessage{
    font-size: 22px;
  }
  .footer div h1{
    font-size: 20px;
  }
  .footer ul li a{
    font-size: 20px;
  }
}

/* Mobile Vertical */
@media (max-width: 500px) {
  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .navButtons{
    padding-right: 0px;
    font-size: 100%;
  }
  .mission{
    display: grid;
    grid-template: 5% repeat(3,30%)/1fr;
    grid-gap: 5% 3%;
    grid-template-areas: 
  "missionText"
  "mission1"
  "mission2"
  "mission3";
  }

  .welcomeMessage h1{
    font-size: 25px;
  }

  .missionText{
    padding: 0%;
    margin: 0%;
    height: 30px;
  }
  .team{
    display: grid;
    grid-template-columns: 100vw;
  }
  .teamImage{
    width: 100%;
  }
  .teamMessage{
    display: flex;
    justify-self: center;
  }
  .teamMessage p{
    font-size: 30px;
  }
  .project{
    display: grid;
    grid-template-columns: 100vw;
  }
  .projectMessage{
    font-size: 20px;
  }
  .footer div h1{
    font-size: 20px;
  }
  .footer ul li a{
    font-size: 20px;
  }
}